<% content_for :title, "Movie Details" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "movies_show", media: "all" %>
<% end %>


<div id="movie-details">
  <%= render @movie %>
</div>

<div class="actions">
  <%= link_to "Edit this movie", edit_movie_path(@movie), class: "button-link" %> |
  <%= link_to "Back to movies", movies_path, class: "button-link" %>
  <%= button_to "Destroy this movie", @movie, method: :delete, class: "danger-button" %>
</div>
